@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';
@import '@styles/abstracts/functions';

.products {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  gap: 15px;
  font-size: 24px;
  margin-top: 2rem;
}

.product {
  display: flex;
  position: relative;
  align-items: center;
  width: 23em;
  column-gap: 0.5em;
  height: 10em;
  border-radius: 1.5em;
  background: color('white');
  box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10);

  @media (max-width: 1245px) { font-size: 20px; }
  @media (max-width: 1045px) { font-size: 17px; }
  @media (max-width: 890px) { font-size: 15px; }
  @media (max-width: 785px) { font-size: 13px; }
  @media (max-width: 685px) {
    width: 100vw;
    font-size: 18px;
  }

  &__image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0 0 1em;
  }

  &__image {
    display: block;
    height: 8em;
  }

  &__content {
    display: flex;
    height: 100%;
    justify-content: center;
    row-gap: 1em;
    flex-direction: column;
    width: 100%;
  }

  &__title {
    color: color('black');
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 1.08px;
  }

  &__prep-time {
    color: color('gray');
    font-size: 0.83em;
    font-weight: 600;
    letter-spacing: 0.6px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    padding: 0 1em 0 0;
  }

  &__price {
    color: #01C550;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 0.96px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 0.5em;
    border: 2px solid color('primary');
    background: none;
    border-radius: 2em;
    padding: 0.2em 0.3em 0.2em 1em;
    color: color('primary');
    font-size: 0.66em;
    font-weight: bold;
    transition: 0.3s ease-in;
    cursor: pointer;

    &:hover {
      background: color('primary');
      color: color('white');
      transition: 0.3s ease-in;

      .product__counter {
        background-color: color('white');
        color: color('primary');
        transition: 0.3s ease-in;
      }

      .product__counter-decrease {
        background: color('primary');
        color: color('white');
      }
    }
  }

  &__counter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: color('primary');
    color: color('white');
    border-radius: 2em;
    cursor: pointer;
    padding: 0.2em 0.5em;
    width: 1.66em;
    transition: 0.3s ease-in;
  }

  &__counter-decrease {
    display: flex;
    justify-content: center;
    align-items: center;
    background: color('white');
    color: color('primary');
    border-radius: 2em;
    margin-right: 5px;
    height: 0.33em;
    transition: 0.3s ease-in;
  }
}
