@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';
@import '@styles/abstracts/functions';

.section {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  width: 100%;
  justify-content: space-between;
  font-size: 24px;

  .active {
    outline: 3px solid color('primary');
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    box-shadow: 0 4px 15px 0 rgba(255, 138, 0, 0.25);
    transition: outline 0.1s ease-in;
  }

  .list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 1.45em;
    row-gap: 0.5em;
    margin-left: 4.16em;

    .categoryItem {
      display: flex;
      justify-content: space-between;
      align-items: center;
      column-gap: 0.41em;
      padding: 0.2em 2.5em 0.2em 0.2em;
      border-radius: 1em;
      background: color('white');
      box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.10);
      cursor: pointer;
    }
  }
}
