@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';
@import '@styles/abstracts/functions';

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
  }

  &__welcome {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__greeting {
    color: color('gray');
    font-weight: 500;
    font-size: 16px;
  }

  &__message {
    color: color('black');
    font-size: 24px;
    font-weight: 700;
    
    @include media-down('md') {
      font-size: 20px;
    }
  }
}

.search {
  position: relative;

  &__input {
    padding: 0 40px 0 48px;
    border-radius: 12px;
    background: color('light-gray');
    width: 240px;
    font-size: 16px;
    height: 48px;
    border: none;
    transition: 0.2s ease-in-out;

    &:focus {
      width: 300px;
      
      @include media-down('md') {
        width: 240px;
      }
    }
    
    @include media-down('md') {
      width: 200px;
      height: 40px;
      font-size: 14px;
    }
  }

  &__icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    img {
      width: 24px;
      height: 24px;
      
      @include media-down('md') {
        width: 20px;
        height: 20px;
      }
    }

    &--find {
      left: 16px;
    }

    &--close {
      right: 16px;
      z-index: 1;
      cursor: pointer;

      img {
        width: 16px;
        height: 16px;
        
        @include media-down('md') {
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}
