@mixin noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
@mixin container {
    width: map-get($container, 'width');
    max-width: map-get($container, 'max-width');
    margin: 0 auto;
}
  
@mixin media-up($breakpoint) {
    @media screen and (min-width: breakpoint($breakpoint)) {
        @content;
    }
}
  