.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  &__search {
    position: relative;
    &--iconSearch {
      position: absolute;
      top: 17%;
      left: 5%;
    }
    &--iconClose {
      top: 28%;
      right: 5%;
      position: absolute;
      z-index: 1;
      button {
        border: none;
        background: none;
        cursor: pointer;
      }
    }

    &--search {
      position: relative;
      padding-left: 120px;
      border-radius: 15px;
      background: rgba(180, 188, 207, 0.41);
      font-size: 24px;
      width: 350px;
      height: 70px;
      flex-shrink: 0;
      border: none;
      transition: 0.2s ease-in-out;

      &:focus {
        width: 510px;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .greeting {
    color: $gray;
    font-size: 24px;
    font-weight: 500;
  }

  .welcome-message {
    color: $black;
    font-size: 28px;
    font-weight: 700;
  }
}
