@import "./../../scss/variables";

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 50px;
  font-size: 24px;

  .block {
    display: flex;
    flex-direction: column;
    row-gap: 0.5em;
  }

  .search {
    position: relative;
    .searchInput {
      padding: 0 2em 0 5em;
      border-radius: 0.6em;
      background: rgba(180, 188, 207, 0.41);
      width: 15em;
      font-size: 1em;
      height: 3em;
      border: none;
      transition: 0.2s ease-in-out;

      &:focus {
        width: 21em;
        transition: 0.2s ease-in-out;
      }
    }

    .iconSearch {
      position: absolute;
      top: 50%;
      left: 5%;

      transform: translateY(-50%);
      img {
        width: 2em;
        height: 2em;
      }
    }

    .iconClose {
      position: absolute;
      top: 50%;
      right: 5%;
      transform: translateY(-50%);
      z-index: 1;
      button {
        img {
          width: 2em;
          height: 2em;
        }
      }
    }

  }

  .greeting {
    color: $gray;
    font-weight: 500;
  }

  .welcomeMessage {
    color: $black;
    font-size: 1.5em;
    font-weight: 700;
  }

  @media (max-width: 1165px) { font-size: 18px; }
  @media (max-width: 850px) { font-size: 16px; }
  @media (max-width: 755px) { font-size: 13px; }

  @media (max-width: 660px) {
    font-size: 10px;
    flex-direction: column;
    gap: 15px;
    .block {
      justify-content: center;
      align-items: center;
      column-gap: 10px;
      font-size: 1.7em;
    }
    .search {
      .searchInput {
        font-size: 0.7em;
        width: 0;
      }
    }
  }
}
