.home {
  background-color: color('white');
}

.products-section {
  padding: spacing('lg') 0;
}

.no-products {
  text-align: center;
  padding: spacing('lg') 0;
  color: color('gray');
  @include font-size('md');
}