@import '@styles/abstracts/variables';
@import '@styles/abstracts/mixins';
@import '@styles/abstracts/functions';

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: color('white');
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 105px;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.08);
  z-index: 1000;

  &__nav {
    position: relative;
    height: 100%;
  }

  &__expand-btn {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 90%;
    transition: 1s ease;
    background: none;
    border: none;
    cursor: pointer;

    img {
      transition: 5s ease;
      transform: rotate(0deg);
    }
  }

  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    row-gap: 45px;
    justify-content: center;
  }

  &__item {
    align-self: center;
    justify-self: center;
    padding: 7px;

    &--active {
      border-radius: 15px;
      background: color('primary');
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
      box-shadow: 0 4px 15px 0 rgba(255, 138, 0, 0.25);
      transition: background 1s ease;

      .navbar__icon {
        filter: hue-rotate(180deg) brightness(100);
        transition: 5s ease-in-out;
      }
    }
  }

  &__link {
    display: block;
    height: 40px;
  }

  &__icon {
    width: 40px;
    height: 40px;
  }
}
