.products__section {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  position: relative;
  align-items: center;
  width: calc(50% - 10px);
  column-gap: 10px;
  height: 260px;
  border-radius: 30px;
  background: $white;
  box-shadow: 2px 6px 30px 0px rgba(0, 0, 0, 0.10);
  &--img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0 0 0 25px;
    img {
      display: block;
      height: 70%;
    }
  }
  &__block {
    display: flex;
    height: 100%;
    justify-content: center;
    row-gap: 30px;
    flex-direction: column;
    width: 100%;

    .price__block {
      display: flex;
      justify-content: space-between;
      padding: 0 30px 0 0;
    }
  }
  &__title {
    color: $black;
    font-size: 34px;
    font-weight: 700;
    line-height: 94.687%; /* 34.087px */
    letter-spacing: 1.08px;
  }
  &__description {
    color: $gray;
    font-size: 20px;
    font-weight: 600;
    line-height: 144.687%; /* 28.937px */
    letter-spacing: 0.6px;
  }
  &__price {
    color: #01C550;
    font-size: 32px;
    font-weight: 700;
    line-height: 144.687%; /* 46.3px */
    letter-spacing: 0.96px;
  }
  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border: 2px solid $button-primary;
    background: none;
    border-radius: 50px;
    padding: 5px 7px 5px 20px;
    color: $button-primary;
    font-size: 16px;
    font-weight: bold;
    transition: 0.3s ease-in;
    cursor: pointer;
    &:hover {
      background: $button-primary;
      color: $white;
      transition: 0.3s ease-in;
      .product-item__counter {
        background-color: $white;
        color: $button-primary;
        transition: 0.3s ease-in;
      }
      .decrease {
        background: $button-primary;
        color: $white;

      }
    }
    .decrease {
      display: flex;
      justify-content: center;
      align-items: center;
      background: $white;
      color: $button-primary;
      border-radius: 50px;
      margin-right: 5px;
      height: 8px;
      transition: 0.3s ease-in;

    }
    .product-item__counter {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $button-primary;
      color: $white;
      border-radius: 50px;
      cursor: pointer;
      padding: 5px 10px;
      width: 40px;
      transition: 0.3s ease-in;

    }
  }
}