@import "variables";
@import "libs/normalize";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 1400px;
  margin-left: 100px;
}


.container {
  width: $container-width;
  margin: 0 auto;
}


.header__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;

  &__block {
    display: flex;
    flex-direction: column;
    row-gap: 14px;
  }

  &__search {
    &--icon {
      position: absolute;
      margin: 12px 0 12px 26.5px;
    }

    &--search {
      position: relative;
      padding-left: 120px;
      border-radius: 15px;
      background: rgba(180, 188, 207, 0.41);
      font-size: 24px;
      width: 350px;
      height: 70px;
      flex-shrink: 0;
      border: none;
      transition: 0.2s ease-in-out;

      &:focus {
        width: 510px;
        transition: 0.2s ease-in-out;
      }
    }
  }

  .greeting {
    color: $gray;
    font-size: 24px;
    font-weight: 500;
  }

  .welcome-message {
    color: $black;
    font-size: 28px;
    font-weight: 700;
  }
}

.left-sidebar {
  top: 0;
  left: 0;
  height: 100%;
  width: 105px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.05);

  .navigation {
    display: flex;
    height: 600px;
    flex-direction: column;
    row-gap: 45px;

    &-item {
      align-self: center;
      justify-self: center;
      path {
        fill: $gray;
      }
    }
  }

  .active {
    padding: 7px;
    border-radius: 15px;
    background: #FF8A00;

    path {
      fill: white;
    }
  }
}

.hero__section {
  display: flex;
  margin: 50px 0 50px 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 80px 42px 80px;
  row-gap: 90px;
  width: 100%;
  height: 430px;
  color: $white;
  border-radius: 40px;
  background: #2F2F2F;

  &--title {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    line-height: 95.688%; /* 43.059px */
    letter-spacing: 1.35px;
  }

  &--text {
    font-size: 16px;
    font-weight: 400;
    line-height: 144.687%; /* 23.15px */
    letter-spacing: 0.48px;
  }

  &--button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    width: 270px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $button-primary;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: orange;
    }
  }
}