@import "variables";
@import "libs/normalize";

body {
  background-color: $background;
}

.wrapper {
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 1400px;
  margin: 0 auto;
  @media (max-width: 1540px ) {
    margin: 0 100px;
  }
}


.container {
  width: $container-width;
  max-width: 1400px;
  margin: 0 auto;

}



