@import "variables";
@import "libs/normalize";
@import "components/Header/header";
@import "components/Navbar/navbar";

body {
  background-color: $background;
}

.wrapper {
  width: calc(100vw - 100px);
  height: 100%;
  background-color: #fff;
  border-radius: 10px;
  max-width: 1400px;
}


.container {
  width: $container-width;
  margin: 0 auto;
}




.hero__section {
  display: flex;
  margin: 50px 0 50px 0;
  flex-direction: column;
  justify-content: space-between;
  padding: 42px 80px 42px 80px;
  row-gap: 90px;
  width: 100%;
  height: 430px;
  color: $white;
  border-radius: 40px;
  background: #2F2F2F;

  &--title {
    color: #FFF;
    font-size: 45px;
    font-weight: 700;
    line-height: 95.688%; /* 43.059px */
    letter-spacing: 1.35px;
  }

  &--text {
    font-size: 16px;
    font-weight: 400;
    line-height: 144.687%; /* 23.15px */
    letter-spacing: 0.48px;
  }

  &--button {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: flex-end;
    width: 270px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 15px;
    background: $button-primary;
    color: $white;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;

    &:hover {
      background: orange;
    }
  }
}